@media only screen and (max-width: 600px) {
    #footerSection {
        text-align: center;
    }
    .pull-right {
        float: unset;
        margin-top: 12px;
    }
    .brand>h3 {
        line-height: unset;
        margin-top: 0.9rem;
    }
}